.schedules
  padding-top: 40px
  padding-bottom: 70px
  border-top: 2px solid $border
  background: $bg-silver
  h1
    text-align: center
  p.wait
    margin-top: 50px
    text-align: center

.day-frame
  width: 100%
  text-align: center
  margin-bottom: 50px

.schedule-frame
  position: relative
  padding-top: 10px
  margin-top: 50px
  width: 47%
  min-height: 80px
  margin-right: 15px
  border-left: 2px solid rgb(174, 39, 39)

.schedule-frame-content-left
  position: absolute
  width: 20%

.schedule-frame-content-right
  margin-left: 21%
  width: 79%

.schedule-hour
  display: inline-block
  position: relative
  width: 99%
  p
    font-weight: bold
    color: rgb(174, 39, 39)
    font-size: 20px

.schedule-title
  display: inline-block
  position: relative
  width: 99%
  text-align: left
  p
    font-weight: bold
    font-size: 22px

.schedule-room
  display: inline-block
  position: relative
  width: 99%
  font-size: 18px

.schedule-description
  display: inline-blockn
  position: relative
  width: 99%
  text-align: justify
  color: #999

.schedule-speaker-thumb
  display: inline-block
  position: relative
  width: 99%

.schedule-speaker
  display: inline-block
  position: relative
  width: 99%
  text-align: left
  p
    font-size: 18px
